<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <title>{% block title %}BeatBox{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'music/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Roboto|Dancing+Script|Great+Vibes|Kumar+One+Outline|Pacifico|Ribeye+Marrow|Sacramento" rel="stylesheet">

</head>
<body class="back-img">
    <div class="navbar-fixed">
         <nav>
             <div class="nav-wrapper row gradient">
                <a href={% url 'music:index' %} class="center col brand-logo">BeatBox</a>
                <ul class="left col hide-on-med-and-down">
                   <li class="{% block nav_album %}{% endblock %}"><a href={% url 'music:index' %}>Album<i class="material-icons left">album</i></a></li>
                   <li><a href="#">Music<i class="material-icons left">library_music</i></a></li>
                   <li>
                      <form>
                         <div class="input-field">
                            <input id="search" type="search" required="" placeholder="search item">
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                         </div>
                      </form>
                   </li>
                </ul>
                <ul class="right col hide-on-med-and-down">
                   <li class="{% block add_album %}{% endblock %}"><a href="{% url 'music:album-add' %}">Add Album<i class="material-icons left">add_circle</i></a></li>
                   <li><a href="#">Logout<i class="material-icons left">exit_to_app</i></a></li>
                </ul>

                <a class='button-collapse right hide-on-large-only' href='#' data-activates='nav-slide'><i class="material-icons">menu</i></a>
             </div>
        </nav>
    </div>
    <!-- Sidenav list -->
    <ul id="nav-slide" class="side-nav">
       <li><a href={% url 'music:index' %}>Album<i class="material-icons left">album</i></a></li>
       <li><a href="#">Music<i class="material-icons left">library_music</i></a></li>
       <li>
          <form>
             <div class="input-field">
                <input id="search" type="search" required=""  placeholder="search item">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
             </div>
          </form>
       </li>
       <li><a href="{% url 'music:album-add' %}" class="">Add Album<i class="material-icons left">add_circle</i></a></li>
       <li><a href="#" class="">Logout<i class="material-icons left">exit_to_app</i></a></li>
    </ul>

{% block body %}
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="{% static 'music/custom.js' %}"></script>
</body>
</html>