{% extends 'music/base.html' %}
{% block nav_album %}active{% endblock %}
{% block title %}{{ album.album_title }}{% endblock %}

{% block body %}
    <div class="row" id="detail-row">
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="{{ album.album_logo.url }}"">
                </div>
                <div class="card-content">
                    <h4>{{ album.album_title }}</h4>
                    <h5>{{ album.genre }}</h5>
                    <strong>{{ album.artist }}</strong>
                </div>
            </div>
        </div>
        <div class="col s8" id="about-album">
            <a class="btn deep-orange accent-3 waves-effect waves-light" href="#">View all</a>
            <a class="btn-flat white-text waves-effect waves-light" href="#">Add a new song</a>
            <div class="card-panel">
                <h4>All songs</h4>
                <table class="highlight">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Audio file</th>
                        <th>Favourite</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for song in album.song_set.all %}
                        <tr>
                            <td>{{ song.song_title }}</td>
                            <td>{{ song.file_type }}</td>
                            <td>
                                {% if song.is_favourite %}
                                    <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-128.png" height="17" width="17">
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}