{% extends 'music/base.html' %}
{% block nav_album %}active{% endblock %}
{% block body %}
    {% if albums %}
        <h3 class="white-text center">Here are the albums:</h3>
        <div class="row">
            {% for album in albums %}
            <div class="col offset-s2 s8 offset-m1 m11 l2 offset-l1" style="min-width: 300px; max-width: 380px">
            <div class="card z-depth-5  hoverable">
               <div class="card-image">
                  <img src="{{ album.album_logo.url }}">
                  <a class="btn-floating halfway-fab waves-effect waves-light red lighten-1"><i class="material-icons">favorite_border</i></a>
                  <a href="{% url 'music:detail' album.id %}"><span class="card-title">{{ album.album_title }}</span></a>
               </div>
               <div class="card-content">
                  <h5 class=" text-darken-2">{{ album.artist }}</h5>
               </div>
               <div class="card-action">
                 <a href="{% url 'music:detail' album.id %}" class="btn-flat waves-effect text-darken-2">Details</a>
                 <!--<a href="{% url 'music:album-delete' album.id %}" class="btn waves-effect red darken-2"><i class="material-icons">delete</i></a>-->
                 <form style="display:inline;" action="{% url 'music:album-delete' album.id %}" method="post">
                     {% csrf_token %}
                     <input type="hidden" name="album_id" value="{{ album.id }}">
                     <button class="inline btn waves-effect red darken-2" type="submit"><i class="material-icons">delete</i></button>
                 </form>
               </div>
            </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <h3 class="white-text center">There are no albums yet!</h3>
    {% endif %}
{% endblock %}