.container {
	width: 95vw;
}
input[type="search"] {
height: 62px !important; /* or height of nav */
}
nav .input-field label{
	top: -12px;
}
.gradient{
	background: linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%);
}
.back-img {
	/*background-image: url('back.png');*/
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-image: repeating-linear-gradient(90deg, #682483, #824126);
    background-attachment: fixed;
}
.brand-logo{
    font-family: 'Ribeye Marrow', cursive;
}
#detail-row{
    margin-top: 3px;
}
#about-album{
    margin-top: 7px;
}